h1{
    color:white;
    display:flex;
    justify-content: center;
    align-items: center; 
}
.Projects-main{
    border:1px solid white;
    height:750px;
}

.card{
    background-color:#040720;
    border:1px solid white;
    width:400px;
}