.page-title{
    color:white;
    /* display:flex;
    justify-content: center;
    align-items: center;  */
}
.Projects-main{
    border:1px solid white;
    height:auto;
   
}

.card{
    background-color:#040720;
    background-color:#6afff8;
    border:1px solid white;
    width:400px;
}


.button{
    margin-left:5px;
}

