.skill-main{
    height:750px;
    background-color:#040720;
    border:1px solid white;
}
#title{
    color:white;
}
.content{
    display:flex;
    justify-content: center;
    align-items: center; 
}
.img{
    height:200px;
    width:200px;
    border-radius:113px;
}
.skill-photo{
    height:120px;
    width:120px;
}